@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  /* background: url(./123.png) no-repeat top center / cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom normalizing styles */
*, *::after, *::before {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
p {
  margin: 0;
}


/* Styles */
.logo {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding-top: 15px;
  padding-left: 10px;
}

.wrapper {
  height: 100vh;
  display: flex;
  background: url("") no-repeat 100% 100% / cover;
}

.banner {
  height: 100vh;
  width: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 100px;
}

.degree__wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}
.degree {
  font-size: 140px;
}
.degree__circle {
  font-size: 140px;
}
.degree__details {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.degree__city {
  font-size: 64px;
  line-height: 100px;
}
.degree__date {
  font-size: 18px;
  line-height: 0;
}
.degree__icon {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 35px;
  align-items: center;
}
.degree__status {
  font-size: 18px;
}


.location {
  height: 100vh;
  width: 37.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
  padding: 0 60px 40px 60px;
  font-size: 18px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(43 46 50 / 60%);
}
.location__wrapper {
  display: flex;
  flex-direction: column;
  height: 53%;
  padding-top: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.location__search-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  outline: none;
  width: 76%;
  line-height: 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.location__search-input:focus,
.location__search-input:hover {
  border-color: rgba(255, 255, 255, 0.9);
}
.location__search-input::placeholder {
  font-weight: 300;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Lato', sans-serif;
}
.location__search-button {
  width: 112px;
  height: 112px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.5);
  transition: background .2s ease;
}
.location__search-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.location__places-list {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 45px;
  height: 40%;
  overflow-x: auto;
}
.location__places-list::-webkit-scrollbar-track {
	background-color: transparent;
}

.location__places-list::-webkit-scrollbar {
	width: 7px;
	background-color: transparent;
}
.location__places-list::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
	border: 2px solid #55555536;
}
.location__places-item button {
  background-color: transparent;
  border: none;
  display: block;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 45px;
  text-align: left;
  backdrop-filter: blur(0);
  transition: all .2s linear;
  cursor: pointer;
}
.location__places-item button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.weather__details {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  height: 40%;
  display: flex;
  flex-direction: column;
}
.weather__details-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 70px;
  padding-bottom: 35px;
}
.weather__details-item {
  display: flex;
  color: rgba(255, 255, 255, 0.7);
  justify-content: space-between;
}
.weather__details-indicator {
  color: #fff;
}

.error-msg {
  margin-top: 100px;
}